// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
      position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 0px;
  color: white;
  background: url("https://i.ytimg.com/vi/8WZ0XSf23rs/maxresdefault.jpg"), linear-gradient(to left, #7b4397, #3f3e40); 
    
  }
  .navbar{
      
      color:white;
  }